<%- include("header/header") %>

<main>
    <div class="container">
      <section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
        <img src="/assets/img/lotus_icon.png" class="img-fluid py-5" alt="Page Not Found">
        <h1 style="color: #001C69">404</h1>
        <h2>Deze pagina is niet gevonden.</h2>
        <a class="btn" style="background: #FF5200" href="/">Ga terug</a>
        </section>
    </div>
  </main>

<%- include("footer/footer") %>
