<%- include("header/header") -%>

<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Inloggen</h5>
                                    <p class="text-center small">Vul uw e-mailadres en wachtwoord in.</p>
                                </div>

                                <form class="row g-3 needs-validation" action="/login" method="POST">
                                    <div class="col-12">
                                        <label for="yourUsername" class="form-label">E-mailadres</label>
                                        <div class="input-group has-validation"><input type="text" name="emailAddress" class="form-control" value="<% if(typeof oldMailValue !== "undefined"){%><%=oldMailValue%><%}%>"></div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourPassword" class="form-label">Wachtwoord</label>
                                        <p>
                                            <input id="password" type="password" name="password" class="form-control" />
                                            <i class="bi bi-eye-slash" id="togglePassword"></i>
                                        </p>
                                        <label class="form-label form-error"><% if(typeof err != "undefined"){%><%=err%><%}%></label>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-primary w-100" type="submit">Inloggen</button>
                                    </div>
                                    <div class="col-12">
                                        <p class="small mb-0">
                                            Nog geen account als opdrachtgever?
                                            <a href="/register">Registreer hier</a>
                                        </p>
                                        <p class="small mb-0" style="margin-top: 10px;">
                                            <a href="/user/forgot/password">Wachtwoord vergeten?</a>
                                        </p>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- End #main -->

<script>
    const togglePassword = document.querySelector("#togglePassword");
    const password = document.querySelector("#password");

    togglePassword.addEventListener("click", function (e) {
        const type = password.getAttribute("type") === "password" ? "text" : "password";
        password.setAttribute("type", type);
        this.classList.toggle("bi-eye");
    });
</script>

<%- include("footer/footer") -%>
